.category-title {
    text-align: center;
    width: 65%;
    margin: 0.5em auto;
    border-bottom: 1.5px solid #3c489c;
    padding-bottom: 0.25em;
    max-width: 220px;
    color: #3c489c;
}

.paragraph-container {
    width: 50%;
    max-width: 450px;
    margin: 0.75em auto;
    font-size: 1.2em;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 915px;
    margin: 0 auto;
}

.skills-container li {
    text-align: center;
    width: 25%;
    max-width: 100px;
    margin: 0.75em 1em;
}

.skills-container img {
    height: 100px;
}
