.fixed-header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 10;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
}

.navigation-menu {
    z-index: 9;
    background: #000;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 0.5s ease-in-out;
}

.nav-closed {
    top: -100%;
}

.nav-option {
    font-size: 5em;
    margin: 0.5em 0;
    text-align: center;
    color: #fff;
}

.hamburger-menu {
    color: #000;
    position: relative;
}

.hamburger-piece {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: all 0.5s ease-in-out;
}

.first-hamburger-piece-open {
    transform: rotate(45deg);
    position: absolute;
}

.second-hamburger-piece-open {
    transform: rotate(-45deg);
}

.open {
    background-color: #fff;
}
