.contact-container-wrap {
    position: relative;
    height: calc(100vh - 70px);
}

.contact-container {
    max-width: 475px;
    margin: 5em auto;

    margin: 5em auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    transform: translateY(-15%);
}

.contact-container .contact-inner-container {
    display: flex;
    align-items: center;
    width: 90%;

    margin: 0 auto;
}

.contact-container li {
    margin: 1.5em auto;
}

.contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    font-size: 1.25em;
    background: #3c489c;
}

.contact-icon,
.contact-icon:visited {
    color: #fff;
}
.contact-link,
.contact-link:visited {
    color: #000;
}

.contact-link {
    margin: 0 0.75em;
    font-size: 0.75em;
}

@media only screen and (min-width: 600px) {
    .contact-icon {
        width: 75px;
        height: 75px;
        font-size: 1.75em;
    }

    .contact-link {
        font-size: 1.15em;
    }
}
